@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href=@Url.Content("~/assets/Home/css/hexagons.css")>
<ul id="hexGrid">
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">
                
                <img src="@Url.Content("~/assets/Home/img/group.jpg")" alt="" />
                <h1>We are connected</h1>
                <p>MIT student hub open up the platform to share and find resources</p>
            </a>
        </div>
    </li>
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">
                <img src=@Url.Content("~/assets/Home/img/mit-student-01.jpg") alt="" />
                <h1>We are connected</h1>
                <p>MIT student hub open up the platform to share and find resources</p>
            </a>
        </div>
    </li>
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">
                <img src=@Url.Content("~/assets/Home/img/mit-student-02.jpg") alt="" />
                <h1>We are connected</h1>
                <p>MIT student hub open up the platform to share and find resources</p>
            </a>
        </div>
    </li>
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">
                <img src=@Url.Content("~/assets/Home/img/mit-student-03.jpg") alt="" />
                <h1>We are connected</h1>
                <p>MIT student hub open up the platform to share and find resources</p>
            </a>
        </div>
    </li>
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">
                <img src="https://farm7.staticflickr.com/6083/6055581292_d94c2d90e3.jpg" alt="" />
                <h1>We are connected</h1>
                <p>MIT student hub open up the platform to share and find resources</p>
            </a>
        </div>
    </li>
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">
                <img src="https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg" alt="" />
                <h1>We are connected</h1>
                <p>MIT student hub open up the platform to share and find resources</p>
            </a>
        </div>
    </li>
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">
                <img src="https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg" alt="" />
                <h1>We are connected</h1>
                <p>MIT student hub open up the platform to share and find resources</p>
            </a>
        </div>
    </li>
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">
                <img src="https://farm4.staticflickr.com/3766/12953056854_b8cdf14f21.jpg" alt="" />
                <h1>We are connected</h1>
                <p>MIT student hub open up the platform to share and find resources</p>
            </a>
        </div>
    </li>
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">
                <img src="@Url.Content("~/assets/Home/img/manaakitanga.png")" alt="" />
                <h1>We are connected</h1>
                <p>MIT student hub open up the platform to share and find resources</p>
            </a>
        </div>
    </li>
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">
                <img src="@Url.Content("~/assets/Home/img/road.jpg")" alt="" />
                <h1>We are connected</h1>
                <p>MIT student hub open up the platform to share and find resources</p>
            </a>
        </div>
    </li>
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">
                <img src="@Url.Content("~/assets/Home/img/connected.jpg")" alt="" />
                <h1>We are connected</h1>
                <p>MIT student hub open up the platform to share and find resources</p>
            </a>
        </div>
    </li>
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">
                <img src="@Url.Content("~/assets/Home/img/mit-building.jpg")" alt="" />
                <h1>We are connected</h1>
                <p>MIT student hub open up the platform to share and find resources</p>
            </a>
        </div>
    </li>
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">
                <img src="@Url.Content("~/assets/Home/img/mit-lecture.jpg")" alt="" />
                <h1>We are connected</h1>
                <p>MIT student hub open up the platform to share and find resources</p>
            </a>
        </div>
    </li>
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">
                <img src=@Url.Content("~/assets/Home/img/mit-student.jpg") alt="" />
                <h1>We are connected</h1>
                <p>MIT student hub open up the platform to share and find resources</p>
            </a>
        </div>
    </li>

</ul>